body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom right,
    rgb(11, 55, 128),
    rgb(66, 123, 214)
  );
  color: #b9c6ae;
  padding: 20px;
  align-items: center;
}
h1 {
  font-weight: 900;
  font-size: 2em;
}
ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
p {
  margin: 10px 20px 10px 0px;
}
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}
figure {
  flex-wrap: wrap;
  position: relative;
  border: 5px solid black;
  margin: 10px;
}
figure:hover img {
  opacity: 0.5;
}
figcaption {
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.692);
  padding: 15px 5px 5px 5px;
  color: #b9c6ae;
  line-height: 10px;
}
figcaption p {
  font-size: 0.75em;
  line-height: 15px;
  margin: 5px 0px;
}
footer {
  background-image: linear-gradient(
    to bottom right,
    rgb(11, 55, 128),
    rgb(66, 123, 214)
  );
  color: #b9c6ae;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#contactMe li {
  margin: 0px 10px;
  font-size: large;
  font-weight: 900;
}
#heroBanner {
  position: relative;
  text-align: center;
}
#resume {
  margin-bottom: 30px;
}
#aboutMeText {
  width: 80vw;
  line-height: 20px;
}

.hero {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.subtitle {
  position: absolute;
  color: white;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.52);
  bottom: 3px;
  right: 0px;
  padding: 10px;
}
.section {
  display: flex;
  margin-left: 10px;
  margin-top: 50px;
}
.sectionTitle {
  border-image: linear-gradient(to bottom, rgb(11, 55, 128), rgba(0, 0, 0, 0)) 1
    100%;
  border-right: 5px solid;
  font-size: xx-large;
  max-width: 250px;
  padding: 50px 100px 50px 70px;
}
.work {
  display: flex;
  flex-flow: row wrap;
  margin-left: 40px;
}
.sectionContainer {
  margin-left: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image1 {
  height: 600px;
  width: 75vw;
  object-fit: cover;
}
.smallImage {
  height: 200px;
  width: 34.5vw;
  object-fit: cover;
}
.bioImage {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: none;
  margin: 20px 0px 0px -40px;
}
@media screen and (max-width: 1310px) {
  .image1 {
    height: 600px;
    width: 65vw;
    object-fit: cover;
  }
  .smallImage {
    height: 150px;
    width: 30.5vw;
    object-fit: cover;
  }
}
@media screen and (max-width: 945px) {
  .image1 {
    height: 600px;
    width: 53vw;
    object-fit: cover;
  }
  .smallImage {
    height: 100px;
    width: 25.5vw;
    object-fit: cover;
  }
}
@media screen and (max-width: 930px) {
  #contactMe ul {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    max-width: inherit;
  }
  #contactMe li {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  header,
  main,
  .section {
    flex-direction: column;
  }
  nav {
    margin-top: 20px;
  }
  p {
    margin-right: 20px;
  }
  #aboutMeText {
    width: 90vw;
  }

  .section {
    margin-left: 20px;
    align-items: flex-start;
  }
  .sectionTitle {
    border: none;
    padding: 0px;
    flex-direction: row;
    max-width: none;
  }
  .sectionContainer {
    margin-left: 0px;
  }
  .image1 {
    height: 200px;
    width: 300px;
  }
  .smallImage {
    height: 200px;
    width: 300px;
  }
  .bioImage {
    margin: 20px 0px 0px 30px;
  }
}

@media screen and (max-width: 450px) {
  .bioImage {
    margin: 20px 0px 0px 60px;
  }
}

@media screen and (max-width: 405px) {
  .image1 {
    height: 200px;
    width: 200px;
  }
  .smallImage {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 320px) {
  figure {
    margin-left: 0px;
  }
  .bioImage {
    margin: 20px 0px 0px 0px;
  }
}
